@import url('https://rsms.me/inter/inter-ui.css');

@viewport {
  width: device-width;
}

* { margin:0; padding:0; font-family:inherit; }
body {
  background: #fff;
  color: #444;
  font-family: 'Inter UI', sans-serif;
  font-size: 14px;
  letter-spacing: 0.001em;
  line-height: 20px;

  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;

  margin: 30px auto;
}
  header ul {
    margin: 0;
    text-align: left;
    display: flex;
  }
  header ul li {
    list-style: none;
    justify-content: space-around;
  }
  header ul li a[href] {
    color: #a9a9a9;
    text-decoration: none;
  }
  header ul li a[href]:hover {
    color: #444;
  }
  header ul li a[href].active {
    color: #444;
    background: #ffbe76;
  }
