@import url('https://rsms.me/inter/inter-ui.css');

@viewport {
  width: device-width;
}

* { margin:0; padding:0; font-family:inherit; }
body {
  background: #fff;
  color: #444;
  font-family: 'Inter UI', sans-serif;
  font-size: 14px;
  letter-spacing: 0.001em;
  line-height: 20px;

  flex-direction: column;
  min-height: 100vh;
  max-width: 750px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
  header > a[href] {
    text-decoration: none;
    color: #a9a9a9;
  }
  header ul {
    margin: 0;
    text-align: left;
    display: flex;
  }
  header ul li {
    list-style: none;
    padding-left: 20px;
  }
  header ul li a[href] {
    color: #a9a9a9;
    text-decoration: none;
  }
  header ul li a[href]:hover {
    color: #444;
  }
  header ul li a[href].active {
    color: #444;
  }
.content {
  flex: 1;
}

.content a[href] {
  text-decoration: none;
  font-style: italic;
  color: #444;
}
.content a[href]:hover {
  background: #ffbe76;
}

div {
  margin: 8px auto;
}

p {
  margin: 10px auto;
}

ul {
  list-style-position: outside;
}

.row {
  display: flex;
}
.col-one-third {
  width: 33%;
}
.col-two-third {
  width: 66%;
}
.col-one-fourth {
  width: 25%;
}
.col-three-fourth {
  width: 75%;
}
.col-one-half {
  width: 50%;
}

label {
  margin-top: 10px;
  padding: 0 3px;
  /* background-color: #dfe6e9; */
  font-size: 1em;
}

footer {
  height: 150px;
  text-align: center;
  flex-direction: column;
}
