---
layout: default
---
<h3>Hello world!</h3>
<h3>Here's what I've been up to...</h3>
<p>[Actively seeking 2020 full-time SDE opportunities; please feel free to reach out at amanda.chiu@nyu.edu]</p>
<p>
  This year, I'm finishing up my last year at NYU. Excited to take classes like Machine Learning,
  and return to SIMON Markets to work on a commercial back-end project!
</p>
{% assign project_list = site.projects %}
  {% for project in project_list reversed %}
  <div class="row">
    <div class="col-one-fourth">
    {{ project.dates }}
    </div>
    <div class="col-three-fourth">
      <h3>{{ project.title }}</h3>
      {% for skill in project.skills %}
          <label>{{ skill }}</label>
          {% if forloop.last != true %} &#8226; {% endif %}
      {% endfor %}
      <p>{{ project.description }}</p>
    </div>
  </div>
{% endfor %}
