<!DOCTYPE html>
<html>
<head>
<title>Amanda Chiu</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
  <header>
    <a href="/">amanda chiu</a>
    <ul>
      <li><a href="img/AmandaChiu_2019.pdf" target="_blank">resume</a></li>
      <li><a href="/about.html">bio</a></li>
    </ul>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    Made with&nbsp;<img src="/img/heart.png" height="18px"/>&nbsp;|&nbsp;
    Currently in Shanghai, China&nbsp;<img src="/img/map-marker.png" height="22px"/>
  </footer>
</div>
  <script src="../scripts/main.js"></script>
</body>
</html>
